<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <!--他のviewでも使う可能性があるから、ヘルパーメソッドで定義する。-->
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    
    <%= render 'follow_form' if logged_in? %>
    
    <% if @user.microposts.any? %>
    <!--もしmicropostが1つもない場合はfalseで表示自体をなくす処理-->
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <!--countは特定のキーに紐づいたmicropostの数を確認しにいってる。-->
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
          <%= render micropost %>
          <!--micropostの繰り返しを1行で短縮させてる。-->
          <%#= render @microposts %>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>

